.container-form {
    background-color: #EFEFEF;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    margin-left: 700px;
    margin-right: 700px;
}

h1 { /* M'inscrire */
    color: #4a86e8ff;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 10px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

::placeholder {
    font-size: 20px;
}

/* Champs de saisie */
input {
    background-color: white;
    text-decoration: none;
    border-radius: 20px;
    border-style: none;
    padding: 12px;
    font-size: 20px;
    font-family: 'Comfortaa', sans-serif;
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
}

.date-naissance{
    color: #6c757d;
}

/* Pour le champ de saisie photo */
.hidden-input {
    display: none;
}

.custom-upload { /* nouveau bouton pour sélectionner une photo */
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(#a2e76d, yellowgreen);
    color: white;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Comfortaa', sans-serif;
    margin-bottom: 10px;
    transition: background 0.3s ease;
}

.custom-upload:hover {
    background: linear-gradient(#8ed657, #317d31);
}

.bouton { /* bouton d'inscription */
    background: linear-gradient(#a2e76d, yellowgreen);
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 12px;
    font-size: 25px;
    width: 300px;
    font-weight: bold;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.bouton:hover {
    background: linear-gradient(#8ed657, #317d31);
}


.deja-inscrit {
    margin-top: 10px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}