/* Formulaire */
.formulaire-modification {
    background-color: #4A90E2;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    margin-top: 5px;
}

.titre-formulaire-modification { /* Titre formulaire */
    color: white;
    margin-left: 10px;
    margin-top: 5px;
}

input {
    background-color: white;
    text-decoration: none;
    border-radius: 20px;
    border-style: none;
    font-family: 'Comfortaa', sans-serif;
    padding: 12px;
    width: 400px;
    font-size: 15px;
    margin-bottom: 10px;
}

.champs-saisie {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.rechercher { /* Bouton de recherche */
    background-color: #a2e76d;
    color: white;
    padding: 12px;
    font-size: 25px;
    width: 300px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
