{% extends 'base.html.twig' %}

{% block title %}Espace Administrateur{% endblock %}

{% block body %}
    <h1>Bienvenue dans l’espace administrateur</h1>
    <ul>
        <li><a href="#">Gérer les comptes employés</a></li>
        <li><a href="#">Suspendre des comptes</a></li>
        <li><a href="#">Voir les statistiques</a></li>
    </ul>
{% endblock %}
