{% extends 'base.html.twig' %}

{% block title %}Espace Utilisateur{% endblock %}

{% block body %}
    <h1>Bienvenue dans votre espace utilisateur</h1>
    <ul>
        <li><a href="#">Voir mes covoiturages</a></li>
        <li><a href="#">Laisser un avis</a></li>
        <li><a href="#">Modifier mon profil</a></li>
    </ul>
{% endblock %}
