body {
    background-color: #f5f5f5;
    font-family: 'Comfortaa', sans-serif;
    color: #333;
}

h1 {
    color: #4a86e8;
    text-align: center;
    margin-bottom: 2rem;
}

/* Conteneur principal */
.container {
    max-width: 900px;
    margin: 3rem auto 0 auto;
    background: white;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

/* Tableau listant les employés */
.table-employes {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    font-family: Arial, sans-serif;
}

.table-employes th, .table-employes td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

.table-employes thead {
    background-color: #4a86e8;
    color: white;
}

.table-employes thead th {
    text-align: center;
}


.table-employes tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.table-employes tbody tr:nth-child(even) {
    background-color: #e0e0e0;
}

/*Gestion des boutons de retour et d'ajout d'un employé */
.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.actions a {
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    transition: background 0.3s ease;
    background: linear-gradient(#a2e76d, yellowgreen);
}

.actions a:hover {
    background: linear-gradient(#8ed657, #317d31);
}

.back-btn {
    background: #ccc;
    color: #333;
}

.back-btn:hover {
    background: #bbb;
}

button {
    background: linear-gradient(#a2e76d, yellowgreen);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    filter: brightness(1.1);
}

/* Bouton de suppression d'un employé */
.btn-delete {
    background: linear-gradient(#a2e76d, yellowgreen);
    border: none;
    padding: 6px 12px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-delete:hover {
    background: linear-gradient(yellowgreen, #7dbb35);
}

/* Fenêtre pop-up de confirmation de suppression */
.modal-confirm {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #f5f5f5;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.modal-buttons {
  margin-top: 20px;
}

.modal-buttons button {
  background: linear-gradient(#a2e76d, yellowgreen);
  border: none;
  color: white;
  padding: 8px 16px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.modal-confirm-no {
  background: #ccc;
  color: #333;
}

.modal-buttons button:hover {
  background: #7cc04a;
}

.modal-confirm-no:hover {
  background: #999;
}
