<p>Bonjour {{ pseudo }},</p>
<p>Votre avis a été refusé par notre équipe de modération.</p>
<p>Commentaire concerné : <em>{{ commentaire }}</em></p>
<p>Vous pouvez le modifier et le soumettre à nouveau.</p>
