{% block body %}
<h2>Confirmation de trajet</h2>
<p>Bonjour {{ participant.nom }},</p>
<p>Le covoiturage vers {{ covoiturage.lieu_arrivee }} vient de se terminer. Merci de confirmer que tout s’est bien déroulé.</p>
{% endblock %}
