<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <p>Bonjour {{ chauffeurPseudo }},</p>

        <p>Le passager <strong>{{ passagerPseudo }}</strong> vient de réserver votre trajet.</p>

        <p>Vous pouvez consulter les détails dans votre espace conducteur.</p>

        <p>Bonne route !<br>— L’équipe EcoRide</p>
    </body>
</html>
