{% extends 'base.html.twig' %}

{% block title %}Espace Employé{% endblock %}

{% block body %}
    <h1>Bienvenue dans l’espace employé</h1>
    <ul>
        <li><a href="{{ path('employe_moderer_avis') }}">Valider ou refuser les avis</a></li>
        <li><a href="#">Voir les covoiturages problématiques</a></li>
        <li><a href='#'>Signaler un utilisateur</a></li>
    </ul>
{% endblock %}
